<div class="sidebar">
    <span>
        <h3 class="heading">Menus</h3>
    </span>
    <ul>
        <li class="list"><a href="{% url 'product_list' %}">Products</a></li>
        <li class="list"><a href="{% url 'sales' %}">Sell</a></li>
        <li class="list"><a href="{% url 'sales_history' %}">Sales History</a></li>
        <li class="list"><a href="{% url 'restock_history' %}">Restock History</a></li>
        <li class="list"><a href="{% url 'supplier_list' %}">Manage Suppliers</a></li>
        
        <li class="list"><a href="{% url 'sales_reports' %}">Sales Reports</a></li>
        <li class="list"><a href="{% url 'inventory_reports' %}">Inventory Reports</a></li>
        <li class="list"><a href="{% url 'financial_reports' %}">Financial Reports</a></li>
        <li class="list"><a href="{% url 'supplier_reports' %}">Supplier Reports</a></li>
    </ul>
</div>